
/* scrollable root element */
#wizard {	
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	border:1px solid #CCC;
	font-size:12px;
	height:450px;
	margin:20px auto;	
	width:570px;
	overflow:hidden;
	position:relative;
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
}

/* single item */
#wizard .page {	
    background: #FFF;
	float:left;
    height: 370px;
	width:510px;
	padding: 20px 30px;
    position: relative;
}

/* title */
#wizard header {
    border-bottom: 1px solid #EEE;
	margin:10px 0 10px 0;
	padding-bottom:15px;
}

#wizard header h2 {
    margin: 0;
}

#wizard header em {
	display:block;
	font-size:14px;
	color:#666;
	font-style:normal;
	margin-top:8px;
}

/* input fields */
#wizard ul {
	padding:0px !important;
	margin:0px !important;
}

#wizard li {
	list-style-type:none;
	list-style-image:none;
	margin-bottom:25px;	
}

#wizard label {
	font-size:12px;	
	display:block;
}

#wizard label strong {
	color:#789;	
	position:relative;
}

#wizard label em {
	font-size:11px;
	color:#666;	
	font-style:normal;
}

#wizard div.selector {
	width:100%;	
}

#wizard label > span {
	color:#f00;
	position:relative;
	font-size:16px;
}

#wizard .double label { 
	float:left;
    margin-right: 1%;
	width:49%;
}

#wizard footer {
    background: #EAEBFC;
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
}

#wizard .error {
	border-color: red !important;
}

#wizard #status {
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F4F4F4));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFCFC,endColorstr=#F4F4F4);
	margin:0px !important;
    height: 40px;
	padding-left:25px !important;
	_background:#123;
    border-bottom: 1px solid #CCC;
}

#status li {
	float:left;
	color:#111;
    line-height: 40px;
	list-style-type:none;
	list-style-image:none;
	padding:0 30px;
    text-shadow: 0 1px 0 #FFF;
}

#status li.active {
	background-color:#FFF;
    border: 1px solid #CCC;
    border-bottom-color: #FFF;
    border-top-width: 0;
    margin-bottom: -1px;
	font-weight:normal;
}