.msgBar
{
	background: #BBB url(../images/mba/msgBar_header.png) repeat-x 0 0;
	
	border: 1px solid #999;
	font-size: 13px;
	color: #FFF;
	display:block;	
	padding: 10px 30px 10px 15px;
	margin-bottom: 1.5em;
	position:relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	.msgBar .icon  
	{	
		background-repeat: no-repeat;
		background-position:  0 0;
		width: 24px;
		height: 24px;
		position: absolute;
		left:11px;
		top: 10px;
		font-weight:bold;
		font-size:10px;
		padding:5px;
	}
	
	.msgBar.success .icon { background-image: url(../images/mba/msgBar_success.png); }
	.msgBar.info .icon { background-image: url(../images/mba/msgBar_info.png); }
	.msgBar.warning .icon { background-image: url(../images/mba/msgBar_warning.png); }
	.msgBar.error .icon { background-image: url(../images/mba/msgBar_error.png); }
	
	.msgBar .close {
		font-size: 11px;
		font-weight: bold;
		position: absolute;
		right: 15px;
		top: 9px;
		cursor: pointer;
	}

	.msgBar.warning { background-color: #E6BA01; border-color: #AC9207; padding-left: 45px; }
	.msgBar.error { background-color: #AF4434; border-color: #782E25; padding-left: 45px; }
	.msgBar.info { background-color: #437ECC; border-color: #224F91; padding-left: 45px; }
	.msgBar.success { background-color: #7B9534; border-color: #627036; padding-left: 45px; }