/* =Header
----------------------------------------------- */
#header { 
	background:-moz-linear-gradient(top, #984545 0%, #750000 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#984545), color-stop(100%,#750000)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #984545 0%,#750000 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #984545 0%,#750000 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #984545 0%,#750000 100%); /* IE10+ */
	background:linear-gradient(top, #984545 0%,#750000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#984545', endColorstr='#750000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#984545', endColorstr='#750000')";
	
	border-bottom: 1px solid #BE8A8A;
}




/* =Nav
----------------------------------------------- */
.item
, .menu a:hover {
	background: #750000 url(../../images/btn-35.png) repeat-x 0 0;
	border-color: #530000;
}

	.item:hover
	, .hovered .item { background-color: #550000; }





/* =Menu
----------------------------------------------- */
.menu h3 { color: #750000; }





/* =Sub Header
----------------------------------------------- */
#sub-header { border-top-color: #40601A; }






/* =Active Gradient
----------------------------------------------- */
.paging_full_numbers span.paginate_active
, ul.stepy-titles li.current-step
, h2.accordion_panel.active
, .fc-event-inner
, .tabs-side .current a
, .report.active
, #inbox-tabs .current
, #inbox-tabs .current:hover
{
	background:-moz-linear-gradient(top, #FFD393 0%, #FFC66F 2%, #FF9900 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop (0%, #FFD393), color-stop(2%,#FFC66F), color-stop(100%,#FF9900)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFD393 0%, #FFC66F 2%, #FF9900 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFD393 0%, #FFC66F 2%, #FF9900 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFD393 0%, #FFC66F 2%, #FF9900 100%); /* IE10+ */
	background:linear-gradient(top, #FFD393 0%, #FFC66F 2%, #FF9900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC66F', endColorstr='#FF9900');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC66F', endColorstr='#FF9900')";
		
	border-color: #C47500;	
}






/* =Button Colors
----------------------------------------------- */
.btn.primary,
.btn.primary:visited { background-color: #F90; border-color: #D58000; color: #FFF; }
.btn.primary:hover{ background-color: #D58000; color: #FFF; }

.btn.primary { background-image: url(../../images/btn-50.png); background-position: 0 0; }







/* =Widgets
----------------------------------------------- */
ul.stepy-titles li.current-step {
	color: #FFF;
	
}