.onboard-page
  .portlet header h2
    font-size: 40px
    line-height: 1.2
    text-shadow: 0 1px 0px #fff


  &.terms
    .login-box
      width: 550px
      margin-left: -258px
      margin-top: -236px
    .terms-content
      height: 250px
      margin-bottom: 30px
      overflow: auto