/* =Header
----------------------------------------------- */
#header { 
	background:-moz-linear-gradient(top, #6DBCC7 0%, #39A7B6 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6DBCC7), color-stop(100%,#39A7B6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #6DBCC7 0%,#39A7B6 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #6DBCC7 0%,#39A7B6 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #6DBCC7 0%,#39A7B6 100%); /* IE10+ */
	background:linear-gradient(top, #6DBCC7 0%,#39A7B6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6DBCC7', endColorstr='#39A7B6');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6DBCC7', endColorstr='#39A7B6')";
	
	border-bottom: 1px solid #A3D5DB;
}




/* =Nav
----------------------------------------------- */
.item
, .menu a:hover {
	background: #39A7B6 url(../../images/btn-35.png) repeat-x 0 0;
	border-color: #256D78;
}

	.item:hover
	, .hovered .item { background-color: #2B818C; }



/* =Menu
----------------------------------------------- */
.menu h3 { color: #39A7B6; }




/* =Sub Header
----------------------------------------------- */
#sub-header { border-top-color: #40601A; }




/* =Active Gradient
----------------------------------------------- */
.paging_full_numbers span.paginate_active
, ul.stepy-titles li.current-step
, h2.accordion_panel.active
, .fc-event-inner
, .tabs-side .current a
, .report.active
, #inbox-tabs .current
, #inbox-tabs .current:hover
{
	background:-moz-linear-gradient(top, #CCE9EC 0%, #91CED5 2%, #39A7B6 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop (0%, #CCE9EC), color-stop(2%,#91CED5), color-stop(100%,#39A7B6)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #CCE9EC 0%, #91CED5 2%, #39A7B6 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #CCE9EC 0%, #91CED5 2%, #39A7B6 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #CCE9EC 0%, #91CED5 2%, #39A7B6 100%); /* IE10+ */
	background:linear-gradient(top, #CCE9EC 0%, #91CED5 2%, #39A7B6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91CED5', endColorstr='#39A7B6');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#91CED5', endColorstr='#39A7B6')";
		
	border-color: #30777E;	
}





/* =Button Colors
----------------------------------------------- */
.btn.primary,
.btn.primary:visited { background-color: #39A7B6; border-color: #2E8794; color: #FFF; }
.btn.primary:hover { background-color: #2E8794; }

.btn.primary { background-image: url(../../images/btn-35.png); background-position: 0 0; }





/* =Widgets
----------------------------------------------- */
ul.stepy-titles li.current-step {
	color: #FFF;	
}

