<% @title = "Pitchr | Login" %>
  <div class="login-box">
    <section class="portlet login-box-top">
          <header>
            <h1 class="logo"><a href="/">Pitchr</a></h1>
              <h2 class="ac">Login</h2>
          </header>
          <section>
              <% if @login_error %>
                <div class="message error">
                  Oops, that login was invalid!
                </div>
              <% else %>
                <div class="message info">Enter your login details</div>
              <% end %>

              <form id="form" class="has-validation" action="/login" method="post" style="margin-top: 30px">
                  <p style="margin-bottom: 30px">
                      <input type="text" id="username" class="full" value="" name="username" required="required" placeholder="Username" />
                  </p>
                  <p style="margin-bottom: 30px">
                      <input type="password" id="password" class="full" value="" name="password" required="required" placeholder="Password" />
                  </p>
                  <p class="clearfix">
                      <span class="fl" style="line-height: 23px;">
                          <label class="choice" for="remember">
                              <input type="checkbox" id="remember" class="" value="1" name="remember"/>
                              Remember me
                          </label>
                      </span>

                      <button class="fr" type="submit">Login</button>
                  </p>
              </form>
              <footer class="ac">
                  Don't have an account?
                  <a href="/register">sign up now</a>
                  <%# <a href="#" class="button">Reset Password</a> %>
                  <%# <a href="#" class="button">Register</a> %>
              </footer>
          </section>
    </section>
</div>